name: Auto Assign PR & issue Author

on:
  pull_request:
    types: [opened, ready_for_review]
  issues:
    types: [opened]

permissions:
  pull-requests: write
  issues: write

jobs:
  assign-author:
    runs-on: ubuntu-latest
    steps:
      - name: Assign to author
        uses: actions/github-script@v7
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const assignee = context.payload.pull_request 
              ? context.payload.pull_request.user.login 
              : context.payload.issue.user.login;
            
            github.rest.issues.addAssignees({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              assignees: [assignee]
            });